<!DOCTYPE html>
<html lang='fr'>
<head>
    <meta charset='UTF-8'>
    <title>Quizz</title>
</head>
<body>
    <h1>Quizz</h1>   
    {% if current_question %} 
        <div>
            <p>{{ current_question[0] }}</p>
            <form method='post' action="{{ url_for('quizz') }}">
                <table border='1'>
                    {% for reponse in current_question[1] %}
                        <tr>
                            <td><input type='radio' name='reponse' value='{{ reponse }}'></td>
                            <td>{{reponse}}</td>
                        </tr>
                    {% endfor %}
                </table>
                <input type='hidden' name='question_index' value='{{question_index}}'>
                <input type='submit' value='Valider'>
            </form>
        </div>
    {% endif %}
</body>
</html>
