<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8"/>
    <title>Inscription</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h1>Inscription</h1>

    {% if usernameExists %}
        <span class="error">Pseudo déjà utilisé !</span>
    {% endif %}

    <form action="/register/" method="POST">
        <table>
            <tr>
                <td>Pseudo : </td>
                <td><input type="text" name="username"/></td>
            </tr>
            <tr>
                <td>Mot de passe : </td>
                <td><input type="password" name="password"</td>
            </tr>
        </table>

        <input type="submit" value="S'inscrire"/>
    </form>
</body>
</html>